﻿body {
    width: 70%;
    margin: auto;
}

.buttons {
    width: 50%;
    margin: auto;
}

.table {
    font-size: 16px;
}

#feed {
    float: left;
}

#restart {
    float: right;
}

#title {
    float: left;
}

#hours {
    float: right;
}