﻿@using System.Web.Mvc.Html
@using ZooSimulator.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zoo Simulator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/simulator")
</head>
<body>
    <div id="simulator">
        @Html.Partial("Simulator", Simulator.Instance)
    </div>

    <div class="buttons">
        <button id="feed" class="btn btn-primary btn-lg">Feed</button>
        <button id="restart" class="btn btn-primary btn-lg">Restart</button>
    </div>

</body>
</html>
