﻿@using ZooSimulator.Models
@model Simulator
<div id="header">
    <div id="title">
        <h1>Zoo Simulator</h1>
    </div>
    <div id="hours">
        <h2>Hour : @Model.Hours</h2>
    </div>
</div>

<div id="zoo">
    @Html.Partial("Zoo", @Model.Zoo)
</div>
