﻿@using ZooSimulator.Models
@model Zoo
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Health</th>
            <th>Can walk?</th>
            <th>Dead?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Animal animal in @Model.Animals)
        {
            <tr class="@(animal.Dead ? "danger" : (@animal.Injured ? "warning" : ""))">
                <td>@animal.AnimalType</td>
                <td>@Math.Round(animal.Health, 2)</td>
                <td>@(!animal.Injured)</td>
                <td>@animal.Dead</td>
            </tr>
        }
    </tbody>
    
</table>

